.DS_Store
.vscode
__pycache__
*.DS_Store
*.vscode
*__pycache__
*/lib/sortinglib/__pycache__
*/lib/mathlib/__pycache__
*/lib/unittest/__pycache__
*/lib/proglang/Int/__pycache__
*/lib/proglang/Decimal/__pycache__
*/lib/proglang/String/__pycache__
*/lib/proglang/List/__pycache__
*/lib/proglang/Float/__pycache__